/.metadata/.mylyn
/.metadata/.plugins
/.metadata/.mylyn/repositories.xml.zip
/.metadata/.mylyn/contexts
/.metadata/*.ini
/.metadata/*.log
/.metadata/*.lock
/ps.txt
# /Java Fundamentals-The Java Language-CalcEngine/bin
/.metadata
